# Server
PORT=5004

# Kafka
KAFKA_BROKER=your_kafka_broker

# URL for other services
AUTH_SERVICE_URL=http://auth-service:5001
ITEMS_SERVICE_URL=http://items-service:5002
BIDDING_SERVICE_URL=http://bidding-service:5003
# Public URL for links in emails
CLIENT_URL=http://localhost

EMAIL_HOST=your_email_host
EMAIL_PORT=your_email_port
EMAIL_USER=your_email_user
EMAIL_PASS=your_email_password
EMAIL_FROM="Campus Shop <your_email@example.com>"